.stripes div{
    background-color: navy;
    color: yellow;
}

/* .stripes > *써도 됨-am 10:38 */

/* .stripes div:nth-child(2){
    background-color: yellow;
    color: navy;
}
.stripes div:nth-child(6){
    background-color: yellow;
    color: navy;
}
.stripes div:nth-child(10){
    background-color: yellow;
    color: navy;
} */

.stripes>div:nth-child(4n+2){
    background-color: yellow;
    color: navy;
}