*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul{
    list-style: none;
}

/* HEADER */
header{
    width: 100%;
    height: 100px;
    background-color: rgb(16, 110, 148);
    z-index: 100;
    position: fixed;
    /* padding: 0 120px; */
}
/* 768px 보다 클 때의 header */
header .inner{
    max-width: 1200px;
    height: 100%;
    margin: 0 auto;
    background-color: rgb(16, 110, 148);
    position: relative;
    /* display: flex;
    align-items: center;
    padding: 0 120px;
    justify-content: space-between; */
}

/* LOGO */
header .inner i{
    font-size: 50px;
    position: absolute;
    line-height: 100px;
    color: aliceblue;
}

header .inner .menu{
    /* display: flex;
    margin-left: 40px; */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

header .inner .menu li{
    /* margin-left: 20px;
    font-weight: bold;
    cursor: pointer;
    min-width: 60px; */
    margin: 0 10px;
    font-size: 20px;
    font-weight: bold;
}

/* 768px 이하일 때 header */

header .small-menu{
    display: none;
}

header .small-menu li{
    text-align: center;
    font-weight: bold;
    background-color: azure;
    width: 100%;
    height: 3rem;
    line-height: 3rem;
}

/* 미디어 쿼리 작성 768px 이하일 때 */

@media (max-width: 768px){

    /* header{
        height: 60px;
        padding: 0;
    }

    header .inner{
        justify-content: center;
    }

    header .inner .menu{
        display: none;
    }

    header .small-menu{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    header .small-menu li:hover{
        background-color: rebeccapurple;
        color: red;
    } */

    /*  */
    header{
        height: 60px;
    }

    header .inner .menu{
        display: none;
    }

    header .inner i{
        font-size: 30px;
        left: 50%;
        transform: translate(-50%);
        line-height: 60px;
    }

    /* small menu */

    header .small-menu{
        display: block;
    }

    header .small-menu li{
        background-color: blue;
        height: 40px;
        line-height: 40px;
        text-align: center;
    }

    header .small-menu li:hover{
        background-color: red;
        color: #fff;
        cursor: pointer;
    }
}